python-dotenv
pydantic-settings
requests
datasets
elasticsearch
pandas
numpy
pyarrow
hdbscan
umap-learn
plotly
kaleido
markdown
xhtml2pdf
jupyter
pytest
leidenalg
igraph
scikit-learn
beautifulsoup4
python-docx
