llama-index==0.10.37
load_dotenv==0.1.0
tree_sitter_languages==1.10.2
tree-sitter==0.21.3
llama-index-vector-stores-elasticsearch==0.3.2
llama-index-embeddings-openai==0.2.5
llama_index.llms.ollama==0.3.3
spacy==3.8.2
IPython==8.28.0
tabulate==0.9.0
streamlit==1.39.0
