# Make a copy of this file with the name .env and assign values to variables

# How you connect to Elasticsearch: change details to your instance
ELASTICSEARCH_URL=
ELASTICSEARCH_API_KEY=
# If not using API key, uncomment these and fill them in:
# ELASTICSEARCH_USER=elastic
# ELASTICSEARCH_PASSWORD=elastic

# OpenAI Configuration
OPENAI_API_KEY=

# Model Configuration

# Optional Configuration
# LOG_LEVEL=INFO
# DEBUG=False