# Make a copy of this file with the name .env and assign values to variables

# How you connect to Elasticsearch: change details to your instance
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=elastic
# ELASTICSEARCH_API_KEY=

# The name of the Elasticsearch indexes
ES_INDEX=workplace-app-docs
ES_INDEX_CHAT_HISTORY=workplace-app-docs-chat-history

# Uncomment and complete if you want to use OpenAI
# LLM_TYPE=openai
# OPENAI_API_KEY=sk-YOUR_API_KEY
# CHAT_MODEL=gpt-4o-mini

# Uncomment and complete if you want to use Azure OpenAI
# LLM_TYPE=azure
## "Azure OpenAI Endpoint" in https://oai.azure.com/resource/overview
# AZURE_OPENAI_ENDPOINT=https://YOUR_RESOURCE_NAME.openai.azure.com/
## "API key 1 (or 2)" in https://oai.azure.com/resource/overview
# AZURE_OPENAI_API_KEY=abc01...
## "Inference version" from https://learn.microsoft.com/en-us/azure/ai-services/openai/api-version-deprecation
# OPENAI_API_VERSION=2024-10-01-preview
## "Name" from https://oai.azure.com/resource/deployments
# CHAT_DEPLOYMENT=YOUR_DEPLOYMENT_NAME

# Uncomment and complete if you want to use Bedrock LLM
# LLM_TYPE=bedrock
# AWS_ACCESS_KEY=
# AWS_SECRET_KEY=
# AWS_REGION=
# AWS_MODEL_ID=

# Uncomment and complete if you want to use Vertex AI
# LLM_TYPE=vertex
# VERTEX_PROJECT_ID=
# VERTEX_REGION=
# GOOGLE_APPLICATION_CREDENTIALS=

# Uncomment and complete if you want to use Mistral AI
# LLM_TYPE=mistral
# MISTRAL_API_KEY=
# MISTRAL_API_ENDPOINT=
# MISTRAL_MODEL=

# Uncomment and complete if you want to use Cohere
# LLM_TYPE=cohere
# COHERE_API_KEY=
# COHERE_MODEL=
