# opentelemetry-enabled examples and their dependencies
.github/workflows/ @codefromthecrypt @anuraaga
docker/ @codefromthecrypt @anuraaga
k8s/ @codefromthecrypt @anuraaga
example-apps/chatbot-rag-app/ @codefromthecrypt @anuraaga
example-apps/openai-embeddings/ @codefromthecrypt @anuraaga
