# Make a copy of this file with the name .env and assign values to variables

# Your Elaticsearch credentials
ELASTICSEARCH_URL=http://localhost:9200
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=changeme

# If you prefer using a cloud ID
# ELASTIC_CLOUD_ID=

# If you prefer using username and password
