# Make a copy of this file with the name .env and assign values to variables

# Your Elaticsearch credentials
ELASTICSEARCH_URL=http://localhost:9200
ELASTIC_API_KEY=

# If you prefer using a cloud ID
# ELASTIC_CLOUD_ID=

# If you prefer using username and password
# ELASTIC_USERNAME=
# ELASTIC_PASSWORD=

SEARCH_APP_NAME=changeme
SEARCH_APP_USER=elastic
SEARCH_APP_PASSWORD=changeme
