# Make a copy of this file with the name .env and assign values to variables

# How you connect to Elasticsearch: change details to your instance
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=elastic
# ELASTICSEARCH_API_KEY=

# Update this with your real OpenAI API key
OPENAI_API_KEY=
# EMBEDDINGS_MODEL=text-embedding-ada-002

# Uncomment to use Ollama instead of OpenAI
# OPENAI_BASE_URL=http://localhost:11434/v1
# OPENAI_API_KEY=unused
# EMBEDDINGS_MODEL=all-minilm:33m

# Set to false, if you want to record logs, traces and metrics.
OTEL_SDK_DISABLED=true

# Assign the service name that shows up in Kibana
OTEL_SERVICE_NAME=chatbot-rag-app

# Default to send traces to the Elastic APM server
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:8200
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf

# Export metrics every 3 seconds instead of every minute
OTEL_METRIC_EXPORT_INTERVAL=3000
OTEL_METRIC_EXPORT_TIMEOUT=3000
# Export traces every 3 seconds instead of every 5 seconds
OTEL_BSP_SCHEDULE_DELAY=3000
# Change to affect behavior of which resources are detected. Note: these
# choices are specific to the runtime, in this case Node.js.
OTEL_NODE_RESOURCE_DETECTORS=container,env,host,os,serviceinstance,process,alibaba,aws,azure
