# Make a copy of this file with the name .env and assign values to variables

# How you connect to Elasticsearch: change details to your instance
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=elastic
# ELASTICSEARCH_API_KEY=

# Update this with your real OpenAI API key
OPENAI_API_KEY=
# EMBEDDINGS_MODEL=text-embedding-ada-002

# Uncomment to use Ollama instead of OpenAI
# OPENAI_BASE_URL=http://localhost:11434/v1
# OPENAI_API_KEY=unused
# EMBEDDINGS_MODEL=all-minilm:33m
