ELASTICSEARCH_URL=https://my-deployment.es.us-central1.gcp.cloud.es.io:443
ELASTICSEARCH_API_KEY=<your-elasticsearch-api-key>
KIBANA_URL=https://my-deployment.kb.us-central1.gcp.cloud.es.io:443
MISTRAL_API_KEY=<your-mistral-api-key>
