{
  "endpointBase": "https://search-ui-sandbox.ent.us-central1.gcp.cloud.es.io",
  "engineName": "national-parks",
  "searchKey": "search-nyxkw1fuqex9qjhfvatbqfmw",
  "searchFields": ["title", "description", "states"],
  "resultFields": [
    "id",
    "title",
    "description",
    "states",
    "visitors",
    "square_km",
    "world_heritage_site",
    "date_established",
    "image_url",
    "location",
    "acres",
    "nps_link"
  ],
  "querySuggestFields": ["title"],
  "titleField": "title",
  "urlField": "nps_link",
  "thumbnailField": "image_url",
  "sortFields": ["title", "states"],
  "facets": ["states", "world_heritage_site"]
}
