name: tests
on:
  push:
    branches:
      - main
    paths:
      - notebooks/**
  pull_request:
    branches:
      - main
    paths:
      - notebooks/**
      - .github/workflows/tests.yml
jobs:
  notebook-tests:
    strategy:
      fail-fast: false
      matrix:
        es_stack:
          - 8.16.1
          - 8.17.0
          - 8.18.0-SNAPSHOT
    runs-on: ubuntu-latest
    services:
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:${{ matrix.es_stack }}
        env:
          discovery.type: single-node
          xpack.security.enabled: false
          xpack.security.http.ssl.enabled: false
          xpack.license.self_generated.type: trial
        ports:
          - 9200:9200
    steps:
      - name: Remove irrelevant software # to free up required disk space
        run: |
          df -h
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          df -h
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Setup nbtest
        run: make install-nbtest
      - name: Warm up
        continue-on-error: true
        run: sleep 30 && PATCH_ES=1 ELASTIC_CLOUD_ID=foo ELASTIC_API_KEY=bar ES_STACK=${{ matrix.es_stack }} bin/nbtest notebooks/search/00-quick-start.ipynb
      - name: Run tests
        run: PATCH_ES=1 FORCE_COLOR=1 ES_STACK=${{ matrix.es_stack }} make -s test
      - name: Show installed Python dependencies
        if: always()
        run: .venv/bin/pip freeze
